<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<title>Rishab</title>

	<!--Start if css-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/mediaQuery.css">
	<!--End of css-->

	<!--Start of JavaScript-->
    
    <!--Angular import-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller/mainController.js"></script>
	

    <!--Start of script for google analytics-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-77165205-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!--End of script for google analytics-->
	<!--Start of JavaScript-->

</head>
<body ng-app="rishab" ng-controller="mainController">
	
	<!---Start of fixed social sidebar-->
    <div id="social">
    	<a href="https://www.facebook.com/rishabsaraf93" target="_blank">
    		<div id="fb">f</div>
    	</a>
    	<a href="https://plus.google.com/+RishabSaraf" target="_blank">
    		<div id="google">g+</div>
    	</a>
    	<a href="https://www.linkedin.com/in/rishabsaraf93" target="_blank">
    		<div id="linkedIn">in</div>
    	</a>
    	<a href="https://twitter.com/Rishab_Saraf" target="_blank">
    		<div id="twitter">t</div>
    	</a>
    </div>
    <!--End of fixed social sidebar-->

    <!--Start of header-->
    <div id="header">
    	<div id="pageHeading">
    		Rishab Saraf
    	</div>
    	
    	<!--Start of navigation links-->
    	<div id="nav">
	    	<a href=""><div class="headerLink" ng-click="setContentType('contact')" ng-class="{'active-nav':contentType=='contact'}">
	    		Contact Me
	    	</div></a>
	    	<div class="headerLink" ng-click="setContentType('about')" ng-class="{'active-nav':contentType=='about'}">
	    		About Me
	    	</div>
    	</div>
    	<!--End of navigation links-->

    </div>
    <!--End of header-->

    <div class="mainDiv">
        <div ng-if="contentType=='contact'">
            call me
        </div>

        <div ng-if="contentType=='about'">
            Myself, Rishab Saraf<br/>
            I am from Kathmandu, Nepal<br/>
            I live in Gurgaon, India<br/>
            I work as a Software Development Engineer @ Amazon.com
        </div>
    </div>
</body>
</html>